body {
	margin: 0;
  background: url("img/bgsimpsons.jpg");
}
.header h1 {
  font-family: 'Monofett', cursive;
  font-size: 75px;
  color: #FFD90F;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  letter-spacing: 3px;
}


.card {
  display: inline-block;
  margin: 3px;
  width: 100px;
}
.hold {
  border: 2px solid #FFD90F;
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.75);
box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.75);
}
.table {
  font-size: 14px;
}
#showResult {
  font-size: 50px;
}

/*div {
  border: dashed 1px red;
}*/
#banner {
  font-family: 'Baloo', cursive;
  color: #FFD90F;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
#title-balance {
  font-family: 'Baloo', cursive;
  font-size: 32px;
}
#balance {
  font-family: 'Baloo', cursive;
  font-size: 28px;
  text-align: center;
}
#bet-text {
  font-family: 'Baloo', cursive;
  font-size: 28px;
}